header {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../images/image-hero-desktop.jpg");

  .navbar {
    max-width: 1250px;
    margin: 0 auto;
  }
}
.mobile-menu {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  margin-top: 5rem;

  a {
    font-size: 1.125rem;
    color: $black;
  }
  li:not(:last-child) {
    border-bottom: 1px solid $lightGray;
  }
}
