header {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("../images/image-hero-desktop.jpg");

  .navbar {
    max-width: 1250px;
    margin: 0 auto;
  }
}
