* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $mainFont;
  color: $darkGray;
  background-color: $bodyColor;
  position: relative;
  &.blocked {
    overflow: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}
p {
  line-height: 1.75;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $darkGray;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;

  &__between {
    justify-content: space-between;
  }
}
.card {
  background-color: #fff;
  border: 1px solid $lightGray;
  border-radius: 0.5rem;
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
.container {
  background-color: #fff;
  max-width: 45.625rem;
  margin: 0.75rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px $lightGray;
}
.text-white {
  color: #fff;
}
.text-cyan {
  color: $moderateCyan;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: 700;
}
.btn {
  padding: 0.9rem 1.9rem;
  border-radius: 2rem;
  font-weight: 500;
  display: inline-block;

  &__primary {
    background-color: $moderateCyan;
    color: #fff;
    &:hover {
      background-color: $darkCyan;
    }
  }
  &__secondary {
    background-color: $bodyColor;
    color: $darkGray;
    &:hover {
      color: $darkGray;
    }
  }
  &__disabled {
    background-color: $darkGray;
    color: #fff;
    pointer-events: none;
  }
  &__lg {
    padding: 1.16rem 2.5rem;
  }
}
.radio {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3125rem;
  border: 1px solid $lightGray;
  border-radius: calc(1.5rem / 2);

  div {
    background-color: #fff;
    min-width: 0.75rem;
    min-height: 0.75rem;
    border-radius: calc(0.75rem / 2);
  }

  &.active div {
    background-color: $darkCyan;
  }
}

@mixin py($amount) {
  padding-top: $amount;
  padding-bottom: $amount;
}
.py-1 {
  @include py(1rem);
}
.py-2 {
  @include py(1.5rem);
}
.py-3 {
  @include py(2rem);
}
.py-4 {
  @include py(3rem);
}
.py-5 {
  @include py(4rem);
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.5rem;
}
.p-3 {
  padding: 2rem;
}
.p-4 {
  padding: 3rem;
}
.p-5 {
  padding: 4rem;
}

@mixin my($amount) {
  margin-top: $amount;
  margin-bottom: $amount;
}
.my-1 {
  @include my(1rem);
}
.my-2 {
  @include my(1.5rem);
}
.my-3 {
  @include my(2rem);
}
.my-4 {
  @include my(3rem);
}
.my-5 {
  @include my(4rem);
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 4rem;
}
