main {
  transform: translateY(-6rem);
  padding: 0 1.25rem;

  .intro {
    position: relative;

    &__logo {
      width: 3.625rem;
      position: absolute;
      top: calc(3.625rem / -2);
      left: 50%;
      transform: translateX(-50%);
    }

    .bookmark {
      position: relative;

      a {
        padding-left: 4.5rem;
      }
      svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        pointer-events: none;
      }

      &:hover {
        svg circle {
          fill: $darkGray;
        }
      }
      &.active {
        a:after {
          content: "ed";
        }
        svg circle {
          fill: $darkCyan;
        }
        svg path {
          fill: #fff;
        }
        &:hover {
          svg circle {
            fill: $moderateCyan;
          }
        }
      }
    }
  }

  .stats {
    .flex {
      justify-content: flex-start;
    }
    &__item {
      margin-right: 2.875rem;
      h1 {
        padding-bottom: 0.5rem;
      }
      &:not(:first-child) {
        padding-left: 2.875rem;
        border-left: 1px solid $lightGray;
      }
    }
    &__bar {
      height: 0.75rem;
      background-color: $bodyColor;
      border-radius: 0.75rem;
      &__progress {
        background-color: $moderateCyan;
        height: 100%;
        width: 75%;
        border-radius: 0.75rem;
      }
    }
  }

  .project {
    &__item {
      .stock {
        margin-right: 0.75rem;
      }
    }
  }
}
