@import "./variables";
@import "./helpers";
@import "./header";
@import "./main";
@import "./modal";
@import "./mobile-menu";

@media (max-width: 48rem) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
      url(../images/image-hero-mobile.jpg);
    background-size: cover;
    background-position: center;

    .navbar {
      display: none;
    }
  }
  .mobile-navbar {
    display: flex;
  }
  main {
    .intro .bookmark {
      a {
        display: none;
      }
      svg {
        position: initial;
        cursor: pointer;
        pointer-events: all;
      }
    }
    .stats div:first-child {
      flex-direction: column;

      .stats__item {
        margin: 1rem 0;
        padding: 0;
        text-align: center;
        min-width: 5.875rem;

        &:not(:first-child) {
          border: none;
          border-top: 1px solid $lightGray;
          padding-top: 2rem;
        }
      }
    }
    .project {
      &__item > div {
        flex-direction: column;
        align-items: flex-start;
      }
      .btn {
        margin-top: 2rem;
      }
    }
  }
}
